{% extends 'base.html' %}

{% from 'form_macros.html' import render_field %}  <!-- Імпортуємо макрос -->

{% block content %}
<h2>Add New Post</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ render_field(form.title) }}  <!-- Використовуємо макрос для відображення полів -->
    {{ render_field(form.content) }}
    {{ render_field(form.category) }}
    {{ render_field(form.is_active) }}
    {{ form.submit(class="btn btn-primary") }}
</form>

<h3>All Posts</h3>
{% for post in posts %}
    <div class="post-card">
        <img src="{{ url_for('posts.static', filename='images/default.png') }}" alt="Post image">
        <div class="post-info">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content | truncate(100) }}</p>
            <a href="{{ url_for('posts.add_post') }}" class="btn">Read more</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
